<!-- header.component.html -->

<header class="header">
    <div class="logo">
      <h1>FORECASTER</h1>
    </div>
    <nav class="nav">
      <a routerLink="/home" routerLinkActive="active">Home</a>
      <a routerLink="/forecast" routerLinkActive="active">Forecast</a>
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a (click)="toggleContactForm()">Contact</a>
    </nav>
  </header>
  
  <router-outlet></router-outlet>
  
  <!-- Backdrop and Contact Form Section -->
  <div *ngIf="showContactForm" class="backdrop" (click)="closeContactForm()"></div>
  <div *ngIf="showContactForm" class="contact-form-container">
    <form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm)" class="contact-form" (click)="$event.stopPropagation()">
      <h2>Contact Us</h2>
      <div>
        <label for="username">Username:</label>
        <input id="username" name="username" ngModel required />
        <div *ngIf="contactForm.submitted && !contactForm.controls['username']?.valid">
          <small class="error">Username is required.</small>
        </div>
      </div>
      <div>
        <label for="name">Name:</label>
        <input id="name" name="name" ngModel required />
        <div *ngIf="contactForm.submitted && !contactForm.controls['name']?.valid">
          <small class="error">Name is required.</small>
        </div>
      </div>
      <div>
        <label for="email">Email:</label>
        <input id="email" name="email" ngModel type="email" required />
        <div *ngIf="contactForm.submitted && !contactForm.controls['email']?.valid">
          <small class="error">Invalid email address.</small>
        </div>
      </div>
      <div>
        <label for="mobile">Mobile Number:</label>
        <input id="mobile" name="mobile" ngModel type="tel" pattern="[0-9]{10}" required />
        <div *ngIf="contactForm.submitted && !contactForm.controls['mobile']?.valid">
          <small class="error">Mobile number must be 10 digits long.</small>
        </div>
      </div>
      <div>
        <label for="password">Password:</label>
        <input id="password" name="password" ngModel type="password" required minlength="6" />
        <div *ngIf="contactForm.submitted && !contactForm.controls['password']?.valid">
          <small class="error">Password must be at least 6 characters long.</small>
        </div>
      </div>
      <div>
        <label for="message">Message:</label>
        <textarea id="message" name="message" ngModel required></textarea>
        <div *ngIf="contactForm.submitted && !contactForm.controls['message']?.valid">
          <small class="error">Message is required.</small>
        </div>
      </div>
      <div class="contact-form button">
        <label for="subscribe">Subscribe to our newsletter:</label>
        <input id="subscribe" name="subscribe" type="checkbox" ngModel />
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
  